
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Likh_Bee</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body class="bg-light">
    {{>NavBar}}
   <section class="container d-flex align-items-center mt-5 mb-5 justify-content-around flex-wrap">
      <div class="items" id="items-1">
        <h3>Get quality <span class="text-primary">content<br/> & work</span> with the<br/> LikhBee Application</h3>
        <p>start your journey now with our community.</p>
        <a href="https://play.google.com/store/apps/details?id=com.inertia.likh_bee" target="_blank"><button class="btn btn-primary btn-sm">Get Started &rarr;</button></a>
      </div>
      <div class="items d-flex align-items-center flex-wrap justify-content-center">
       <div class="items-inside" id="item-inside-1">
        <div class="education-item">
          <p class="text-primary" style="display:inline-block;">Bringing contents from all around the world</p>
          <span class="material-symbols-outlined" style="font-size: 50px;">
            school
            </span>
        </div>
       </div>
       <div class="items-inside d-flex">
         <span id="line" style="display: inline-block;"></span>
         <div>
           <div class="education-item2 bg-primary text-light">
             <span class="material-symbols-outlined">touch_app</span>
             <p>Click on get started or signIn</p>
            </div>
            <div class="education-item2 bg-primary text-light">
              <span class="material-symbols-outlined">tips_and_updates</span>
              <p>Start hiring peoples for work</p>
            </div>
          </div>
       </div>
      </div>
    </section>
    <div class="row p-3 my-5">
    <div class="mission d-flex flex-column align-items-center col-md-6 col-sm-12">
     <h1 style="margin-top: -30px; margin-bottom: 30px;" class="text-primary">Our Mission</h1>
     <p style="word-spacing: 5px; font-size: 1.3rem;" id="miss">Our mission is to provide Excellent support along with quality work & materials include academic papers of varying complexity and other personalized services, along with academic materials for assistance purposes.
      At LikhBee, we are a team that has taken this problem seriously and we strive to complete your assignments, ED sheets and more within defined deadline. Moreover, we have subject experts who help you beyond that, we also help you in your subjects if you are facing any difficulty in understanding the concepts. Don't hesitate to take a free trial.</p>
    </div>  
    <div id="carouselExampleIndicators" class="carousel slide col-md-6 col-sm-12" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/illus1.png" class="d-block imgs img-fluid" alt="main-gate">
          </div>
          <div class="carousel-item">
            <img src="images/illus2.gif" class="d-block imgs img-fluid" alt="main-uit">
          </div>
          <div class="carousel-item">
            <img src="images/illus3.gif" class="d-block imgs img-fluid" alt="uit-students">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>
      <!-- supported by -->
      <div class="developed-by-main container my-5 py-3">
        <h3 class="text-center">Developed By</h3>
        <section class="developed-by">
       <div class="develop-items d-flex align-items-center flex-wrap">
         <img src="images/asperlogo.jpg" alt="this is it logo">
        <div class="para">
          <h5>Team Asper</h5>
          <p style="color:rgb(255, 145, 0);">Developers of Asper</p>
        </div>
      </div>
      <div class="develop-items" id="Xdev">X</div>
      <div class="develop-items d-flex align-items-center flex-wrap">
        <img src="images/logo.png" alt="this is humanities logo">
        <div class="para">
          <h5>LikhBee official</h5>
          <p style="color:rgb(255, 145, 0);">Developers of Team 6</p>
        </div>
      </div>
    </section>
    <p class="text-primary text-center"><a href="team.html" style="text-decoration: none; color: white;">Know More</a></p>
  </div>
  <section class="mission mx-3 my-5" id="mission">
    <div class="mission-item">
      <img src="images/Thesis-pana.png" class="img-fluid inside" alt="illustration">
    </div>
    <div class="mission-item">
      <h3>Why LikeBee?</h3>
      <p>As an engineering enthusiast, we all want to grow in our field; we want to learn beyond the syllabus of any university. As we deep dive in any stream, we get to know that there is a lot more to learn in this modern technology era. But then there is our engineering curriculum that keeps pulling us towards conventional era of just completing assignments and copying and filling up files and files. At LikhBee, we are a team that has taken this problem seriously and we strive to complete your assignments, ED sheets and more within defined deadline. Moreover, we have subject experts who help you beyond that, we also help you in your subjects if you are facing any difficulty in understanding the concepts. Don’t hesitate to take a free trial.
      </p>
      <div class="container">
        <div class="mission-item-child">
          <img src="images/bulb.png" alt="bulb">
          <div>
            <h5>All your work at one place</h5>
            <p>Grow your online presence. Take advantage to save yourself from writing assignments.</p>
          </div>
        </div>
        <div class="mission-item-child">
         <img src="images/calendar.png" alt="calendar" id="calendar">
         <div>
           <h5>Get On Fix Date</h5>
           <p>Get all your work on a fix date you allocated, to your partner.</p>
          </div>
        </div>
        <div class="mission-item-child">
        <img src="images/clock.png" alt="clock" id="clock">
        <div>
          <h5>Management of time</h5>
          <p>Management of time by just assisting your work to others.</p>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section class="curriculum text-light mx-3 py-3">
    <h1 class="text-center">Our <span style="color:#0e9fff;">Curriculum</span></h1>
    <div class="curr-items">
     <div class="curr-item-cards bg-dark">
     <h4>Our Mission</h4>
     <p>Our mission is to provide Excellent support along with quality work & materials include academic papers of varying complexity and other personalized services.</p>
     </div>
     <div class="curr-item-cards bg-dark">
      <h4>Our Goal</h4>
      <p>Our goal is to stand on the student’s requirement by offering them high-quality services without putting the burden of expense.</p>
     </div>
    </div>
    <div class="curr-items">
    <div class="curr-item-cards bg-dark">
     <h4>Our Focus</h4>
     <p>We delve into a myriad of smart and agile academic tools and shape up your academic aspirations like a champ.Our focus is to give support & quality work to dedicated students when they need us.</p>
    </div>
    <div class="curr-item-cards bg-dark">
      <h4>Our Aim</h4>
      <p>We LikhBEE ,aims to create an online community where you can hire young professionals to provide quality work & materials to our young minded students.</p>
    </div>
    </div>
  </section>
  {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    </body>
    </html>