<nav class="d-flex">
    <a href="index.html"><img src="images/logo.png" class="logo" alt="logo"></a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#mission">About</a></li>
        <li><a href="/about">Founders</a></li>
        <li><a href="/clients">Clients</a></li>
    </ul>
</nav>